html, body {
    height: 100%;
    text-align: center;
}

div {
    margin: 0ex;
    padding: 0ex;
    border-width: 0ex;
    /*background-color: #400000;*/
}

tr {
    margin: 0px;
    padding: 0px;
    border-width: 0ex;
}

td {
    margin: 0px;
    padding: 0px;
    border-width: 0ex;
}
.listTable td {
    vertical-align: top;
}

.centeredTable td {
    vertical-align: middle;
    text-align: center;
}

td.label {
    text-align: right;
}

.menu {
    position: absolute;
}

.closeMenuButton {
}

.menu-container {
    display: block;
    position: absolute;
    background-color: #404040;
    margin: 1ex;
    /*padding: 1ex;*/
    border-radius: 1ex;
    text-align: left;
    box-shadow: 0 0 3px 3px #000000;
    z-index: 100;
    /*overflow: auto;*/
}
.menu-title-bar {
    background-color: #808080;
    margin: 0;
    padding: 0.5ex;
    border-radius: 1ex;
    text-align: left;
}
.menu-title {
    font-weight: bold;
    font-size: 100%;
    color: #FFFFFF;
}
.menu-content-container {
    padding: 1ex;
}
.selection-div {
    padding: 1ex;
    border-radius: 1ex;
    background-color: #202020;
}
.selection-table {
    border-spacing: 0;
}
.selection-item {
    cursor: pointer;
    background-color: #202020;
    border-radius: 1ex;
}
.selection-item:hover {
    background-color: #808080;
    color: #FFFFFF;
}
.selection-item:hover > * {
    color: #FFFFFF;
}
.field-entry, .field-entry-span {
    padding: 0.5ex;
    margin: 0.5ex;
    border-radius: 1ex;
    background-color: #404040;
}

.field-entry-span {
    display: inline-block;
}

.field-div {
    border-radius: 1ex;
    background-color: #202020;
    text-align: left;
}

#title-bar {
}
.main-title {
    font-weight: bold;
    font-size: 200%;
    color: #FFFFFF;
}

#toolbar {
    display: inline-block;
    vertical-align: top;
}
#toolbar-shawzin {
    display: inline-block;
}
#toolbar-settings {
    display: inline-block;
    vertical-align: top;
}
.toolbarSection {
    background-color: #404040;
    margin: 1ex;
    padding: 1ex;
    border-radius: 1ex;
    text-align: left;
}

#toolbar-buttons {
    text-align: center;
    padding: 0;
    margin: 0;
}
#toolbar-buttons > div {
    display: inline-block;
}
#toolbar-buttons-burger {}
#toolbar-buttons-burger-menu {}
#toolbar-buttons-burger-menu > div {}

#song-container {
    display: inline-block;
    height: 80%
}
#song-buttons {
    text-align: center;
}
#song-buttons > div {
    display: inline-block;
}

#song-bar {
    /* no idea why this is necessary */
    display: flex;
}
#song-bar-tab {
    background-color: #101010;
    /*border-radius: 1ex;*/
}
#song-bar-tab > div {
    /* display: inline-block; */
    /* this fixes it?! frickin' voodoo */
    display: inline-flex;
}
#song-bar-roll {
    background-color: #101010;
    /*border-radius: 1ex;*/
    position: relative;
}
#roll-keyboard {}

#song-scroll {
    height: 100%;
    overflow-y: scroll;
    /*
    padding-right: 17px;
    box-sizing: content-box;
    */
    /*
    -ms-overflow-style: none;  /* Internet Explorer 10+ *
    scrollbar-width: none;  /* Firefox *
    */
    margin: 0px;
    padding: 0px;
    border-width: 0ex;
    background-color: #337799;
    /*scroll-behavior: smooth !important;*/
}
    /*
    #song-scroll::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
*/

#song-scroll-table {
    height: 100%;
}
#song-scroll-tab {
    background-color: #004000;
}
#song-scroll-roll {
    background-color: #000040;
}

#song-bar-table, #song-scroll-table {
    margin: 0ex;
    padding: 0ex;
    border-width: 0ex;
    border-spacing: 0px;
}

.tab-dot {
    position: absolute;
    z-index: 1;
}

.roll-keyboard-note {
    position: absolute;
    cursor: pointer;
/*
    border: solid;
    border-width: 1px;
    transform: translate(-1px, -1px);
    border-color: #00FF00;
*/
}
.roll-note-row {
    position: absolute;
}

.roll-note {
    position: absolute;
    border: solid;
    border-width: 2px 1px;
    border-color: #202020;
    transform: translate(-1px, -1px);
    z-index: 1;
}
.roll-note-outline {
    position: absolute;
    border: solid;
    border-width: 1px;
    transform: translate(-1px, -1px);
    z-index: 1;
}
.centerImg {
    position: absolute;
    transform: translate(-50%, -50%);
}
.leftImg {
    position: absolute;
    transform: translate(-100%, -50%);
}
.rightImg {
    position: absolute;
    transform: translate(0%, -50%);
}
.bottomImg {
    position: absolute;
    transform: translate(-50%, 0%);
}
.topImg {
    position: absolute;
    transform: translate(-50%, -100%);
}
.centerYImg {
    position: absolute;
    transform: translateY(-50%);
}
img.showcase {
    width: 5ex;
    height: auto;
    transform: rotate(30deg);
    transition: transform 0.125s ease-in-out 30ms;
}
img.showcase:hover {
    transform: rotate(-30deg);
}

@keyframes tabNoteBounce {
    0%   { transform: scale(1.0); opacity: 1; }
    100% { transform: scale(3.0); opacity: 0; }
}

.playTabNote {
    animation-name: tabNoteBounce;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
    touch-events: none;
}

@keyframes rollNoteBounce {
    0%   {
        transform: translateX(-50%) scale(1.0, 1.0); opacity: 1;
        filter: brightness(400%);
    }
    100% {
        transform: translateX(-50%) scale(5.0, 1.0); opacity: 0;
        filter: brightness(100%);
    }
}

.playRollNote {
    border: none;
    animation-name: rollNoteBounce;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
    touch-events: none;
}

.measure-spacer {
    position: relative;
}

.measure-marker {
    position: absolute;
    left: 0px;
    transform: translateY(-50%);
    z-index: 0;
}

.playback-marker {
    z-index: 10;
}

.tab-fret-div {
    position: relative;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.tab-string-div {
    position: absolute;
    margin: 0px;
    padding: 0px;
}
.tab-fret-button, .tab-fret-button-enabled {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tab-fret-button {
    filter: brightness(0%);
}

.tab-string-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#shawzintab-div {
    /* Why can't I get the height of the menu to work like this? */
    /*overflow: auto;
    height: 500px;*/
}

#toolbar-shawzin {
    cursor: pointer;
}

#speedRangeContainer, #speedRange {
    width: 25ex;
}
#speedLabel {
    width: 5ex;
}
.fret0 { color: #BF8340; }
.fret1 { color: #C03F3F; }
.fret2 { color: #3FC03F; }
.fret3 { color: #00B4FF; }
.fret12 { color: #D4D41B; }
.fret23 { color: #20BA9F; }
.fret13 { color: #7B609F; }
.fret123 { color: #E27119; }
