html, body {
    height: 100%;
    text-align: center;
}

div {
    margin: 0ex;
    padding: 0ex;
    border-width: 0ex;
    /*background-color: #400000;*/
}

tr {
    margin: 0px;
    padding: 0px;
    border-width: 0ex;
}

td {
    margin: 0px;
    padding: 0px;
    border-width: 0ex;
}

.menu {
    position: absolute;
}

.closeMenuButton {
}

.menu-container {
    display: block;
    position: absolute;
    background-color: #404040;
    margin: 1ex;
    /*padding: 1ex;*/
    border-radius: 1ex;
    text-align: left;
    box-shadow: 0 0 3px 3px #000000;
}
.menu-title-bar {
    background-color: #808080;
    margin: 0;
    padding: 0.5ex;
    border-radius: 1ex;
    text-align: left;
}
.menu-title {
    font-weight: bold;
    font-size: 100%;
    color: #FFFFFF;
}
.menu-content-container {
    padding: 1ex;
}
.selection-div {
    padding: 1ex;
    border-radius: 1ex;
    background-color: #202020;
}
.selection-table {
    border-spacing: 0;
}
.selection-item {
    cursor: pointer;
    background-color: #202020;
    border-radius: 1ex;
}
.selection-item:hover {
    background-color: #808080;
    color: #FFFFFF;
}

#title-bar {
}
.main-title {
    font-weight: bold;
    font-size: 200%;
    color: #FFFFFF;
}

#toolbar {
    display: inline-block;
    vertical-align: top;
}
    #toolbar-shawzin {
        display: inline-block;
    }
    #toolbar-settings {
        display: inline-block;
        vertical-align: top;
    }
    .toolbarSection {
        background-color: #404040;
        margin: 1ex;
        padding: 1ex;
        border-radius: 1ex;
        text-align: center;
    }

    #toolbar-buttons {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #toolbar-buttons > div {
        display: inline-block;
    }
        #toolbar-buttons-burger {}
            #toolbar-buttons-burger-menu {}
            #toolbar-buttons-burger-menu > div {}

#song-container {
    display: inline-block;
    height: 80%
}
    #song-buttons {
        text-align: center;
    }
    #song-buttons > div {
        display: inline-block;
    }

    #song-header {}
        #song-header-tab {
            background-color: #404040;
            border-radius: 1ex;
        }
        #song-header-tab > div {
            /* display: inline-block; */
            /* this fixes it?! frickin' voodoo */
            display: inline-flex;
        }
        #song-header-roll {
            background-color: #404040;
            border-radius: 1ex;
        }
        #roll-keyboard {}

    #song-scroll {
        height: 100%;
        overflow-y: scroll;
        /*
        padding-right: 17px;
        box-sizing: content-box;
        */
        /*
        -ms-overflow-style: none;  /* Internet Explorer 10+ *
        scrollbar-width: none;  /* Firefox *
        */
        margin: 0px;
        padding: 0px;
        border-width: 0ex;
        background-color: #337799;
    }
    /*
    #song-scroll::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }
*/

        #song-scroll-table {
            height: 100%;
        }
            #song-scroll-tab {
                background-color: #004000;
            }
            #song-scroll-roll {
                background-color: #000040;
            }

#song-header-table, #song-scroll-table {
    margin: 0ex;
    padding: 0ex;
    border-width: 0ex;
    border-spacing: 0px;
}

.roll-keyboard-note {
    position: absolute;
    border: solid;
    border-width: 1px;
    transform: translate(-1px, -1px);
    border-color: #00FF00;
}
.roll-note-row {
    position: absolute;
}

.roll-note {
    position: absolute;
    border: solid;
    border-width: 1px;
    border-color: #202020;
    transform: translate(-1px, -1px);
}
.roll-note-outline {
    position: absolute;
    border: solid;
    border-width: 1px;
    transform: translate(-1px, -1px);
}

.tab-fret {
    position: relative;
    margin: 0px;
    padding: 0px;
}
.tab-fret-button, .tab-fret-button-enabled {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tab-fret-button {
    filter: brightness(0%);
}
