
.chat_name {
    font-weight: bold;
}

.chat_name_Drifter {
    color: #FF8080;
}

.chat_name_Liminus_Star {
    color: #8080FF;
}

div.chat_day {
    background: #404040;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0;
}

table.chat_day_header {
    cursor: pointer;
}

tr.chat_day_header_row {}

td.chat_day_label {
    color: #c0c0c0;
    font-weight: bold;
    margin: 8px 0;
    width: 100%;
}

td.chat_day_arrow {}

div.chat_day_table_div {
    background: #202020;
    border-radius: 8px;
    padding: 0 8px;
    margin: 0 0;
}

table.chat_day_table {
    border-spacing: 4px 8px;
}

tr.chat_item, tr.chat_item_first {}

td.chat_icon {}

img.chat_icon_img {}

td.chat_text {
    vertical-align: top;
}

td.chat_text div {
    margin: 2px;
    padding: 0;
}

p.chat_gold {
    color: #c0b070;
}

p.chat_gold > span {
    color: #c0b070;
}

td.chat_text p {
    margin: 2px;
    padding: 0;
}

td.chat_dots_text {
    text-align: center;
}

span.dotsButton {
    background-color: #303030;
    border-radius: 4px;
    margin: 0 8px;
    padding: 0 8px;
    cursor: pointer;
}
